---
title: About
---

= partial 'layouts/menu'

#about
  %h2 About

  %dl
    %dt Name
    %dd Tatsuro Baba

    %dt HN
    %dd tbaba

    %dt Birthday
    %dd 1988.01.11

    %dt Job
    %dd Web Application Programmer

    %dt Hobby
    %dd
      %ul.list-hyphen
        %li Music
        %li Road bike
        %li Programming

    %dt Drums
    %dd
      %ul.list-hyphen
        %li Rock
        %li Punk
        %li Melodic Hardcore
        %li Dance

    %dt Roadbike
    %dd Focus Cayo Ev 6.0
